.photos.container {
  width: 85%;
}

@media only screen and (max-width: 850px){
  .photos.container {
    width: 95%;
  }
}

.row .col img {
  object-fit: cover;
  z-index: 0;
  width: 100%;
}

.grid-item {
  padding-left: 5.6px !important;
  padding-right: 5.6px !important;
  margin-bottom: 11.2px;
}
