@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("/fonts/Roboto-Bold.ttf") format("ttf");
}

@font-face {
  font-family: "Roboto";
  font-style: italic;
  src: url("/fonts/Roboto-Italic.ttf") format("ttf");
  font-weight: 300;
}

/* @font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Light.ttf") format("ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Raleway";
  src: url("/fonts/Raleway-Bold.ttf") format("ttf");
  font-weight: bold;
}

@font-face {
  font-family: "Raleway";
  font-style: italic;
  src: url("/fonts/Raleway-Italic.ttf") format("ttf");
  font-weight: 300;
} */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Used by resume subsection */
.section-title {
  display: inline-block;
  font-weight: 800;
  font-size: 8vw;
}

.chip {
  background-color: #FFFFFF !important;
  border: 0.5px solid #AAAAAA;
  overflow: visible;
}

.background-row, .background-col {
  padding: 0 !important;
  margin: 0 !important;
  /* 75px is the height of the header */
  height: calc(100vh - 75px);
  background-color: #EFEFEF;
}

.background-col {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 100vw !important;
  height: 75px;
  margin: 0 !important;
  margin-right: 0 !important;
  padding-right: 225px;
  font-family: "Raleway", "Roboto";
  z-index:5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EFEFEF;
  animation: color-change 5s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

@keyframes color-change {
  0% {
    background-color: #EFEFEF;
  }
  100% {
    background-color: #FFFFFF;
  }
}

.menu-item {
  display: flex !important;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #2F2F2F;
  height: 100% !important;
  border: 0;
  z-index:6;
  opacity: 100;
  width: 100% !important;
  background-color:
}

.menu-bar-text {
  font-size: 20px;
  opacity: 0;
  padding-bottom: 10px;
}

.background-main-text {
  position: relative;
  visibility: hidden;
  font-size: 8vw;
  font-family: "Raleway", "Roboto";
  color: #2F2F2F;
  font-weight: bolder ;
  margin-left: 6%;
  width: 60vw;
}

@media only screen and (max-width: 715px){
  .main-header {
    font-size: 3em;
    left: 10px;
    top: 10vh;
  }

  .logo-wrapper {
    top: 10vh !important;
    margin-top: 0 !important;
    height: 20vh !important;

  }

  .menu-item {
    border-style: solid;
    border-top: 1px solid white;
    border-bottom: 0;
    border-right: 0;
    border-left: 0;
  }
}

@media only screen and (max-width: 570px){
  .main-header {
    text-align: center;
    font-size: 2.5em;
    left: 20px;
    top: 10vh;
  }

  .logo-wrapper {
    top: 33vh !important;
    right: 33vw !important;
  }
}

.page-background {
  display: block;
  width: 100% !important;
  z-index: -1;
}

.background-img {
  display: block !important;
  height: 100vh !important;
  width: 100%;
  overflow: hidden;
  object-fit: cover;
}

.logo-wrapper {
  position: absolute;
  left: 17.5vw;
  top: 17.5vh;
  width: 70vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.logo-container {
  position:static;
  height: 100%;
  width: 100%;
  border: 0px solid white;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  object-fit:contain !important;
  z-index:5;
  max-width: 100%;
  max-height: 100%;
}

.banner-wrapper {
  position: fixed;
  right: 0;
  top: 14vh;
  z-index: 1;
}

/* MEDIA */

.blogs, .resume, .media {
  display: none;
}

.header {
  font-family: 'Raleway', 'Roboto';
  width: 100%;
  height: auto;
  font-size: 6vmin;
  margin-bottom: 20px;
  padding-left: 20px;
}

.subpage-header{
  position: relative;
  right: 15px;
  margin-top: 20px;
}

.header-text {
  margin: auto;
}

.page-section {
  margin-bottom: 60px;
}

#main-logo-group{
  clip-path: url(#letter-clip);
}

#logo-svg {
  position: relative;
  width: 100%;
  z-index: 6;
}

@media only screen and (max-width: 1400px){
  #logo-svg {
    bottom: 100px;
  }
}

.censor-div {
  position: absolute;
  background-color: #2F80ED;
  z-index: 7;
}
